body{
    background-image: url(../imagenes/fondo2.png);

}
h1{
    text-align: center;
    font-family: san -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*ESTILOS DE GALERIA*/
.gallery-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: auto;
    padding: 20px;
    grid-gap: 40px;
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}
.gallery__text{
    width: 100%;
    height: auto;
    background-color: #EE3F3A;
    opacity: 0.9;
    padding: 20px;
}
/*ELEGIR UNA IMAGEN Y CAMBIARLA DIRECTAMENTE
.gallery__item:nth-child()*/

.gallery__item:nth-child(6){
    grid-column-start: span 2;
}
.gallery__item:nth-child(1){
    grid-row-start: span 2;
    grid-column-start: span 4;
}

@media (min-width:764px){
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        width: 90%;
    }
}
@media (min-width:1024px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
        width: 90%;
    }
}