body{
    background-image: url(../imagenes/fondo.gif);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
   font-family: KiloGram;
   font-size: 60px;
   color: #ffffff;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
p{
    font-size: 1.1em;
}
/*ESTILOS DE GALERIA*/
.seis{
    padding-left: 10px;
    padding-right: 15px;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: auto;
    padding: 20px;
    grid-gap: 40px;
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}
.gallery__text{
    width: 100%;
    height: auto;
    background-color: #EE3F3A;
    opacity: 0.9;
    padding: 20px;
    
}
.gallery__text1{
    width: 100%;
    height: auto;
    background-color: #EE3F3A;
    opacity: 1;
    padding: 20px;
    
}
.gallery__text2{
    width: 100%;
    height: auto;
    background-color: #EE3F3A;
    color: #ffffff;
    opacity: 1;
    padding: 20px;
    
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
  }
  
  footer{
    background: #293043;
    padding: 90px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #ffffff;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #EE3F3A;
  }
  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #EE3F3A;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #ffffff;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #EE3F3A;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  .rights-text{
      color: #ffffff;
  }
  .btn:hover{
    opacity: .7;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }
  

/*ELEGIR UNA IMAGEN Y CAMBIARLA DIRECTAMENTE
.gallery__item:nth-child()*/
/*
.gallery__item:nth-child(6){
    grid-column-start: span 2;
}
*/


@media (min-width:764px){
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        width: 90%;
    }
}
@media (min-width:1024px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);
        margin: 1px;
        width: 90%;
        grid-row: auto;
        padding: 50px;
        grid-gap: 40px;
        height: auto;
    }
    .gallery__item:nth-child(1){
        grid-row-start: span 2;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(2){
        grid-row-start: span 1;
        grid-column-start: span 4;
        padding-left: 600px;
        padding-bottom: 200px;
    
    }
    
    .gallery__item:nth-child(5){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    
    .gallery__item:nth-child(6){
        grid-row-start: span 1;
        grid-column-start: span 4;
        text-align: center;
    }
    .gallery__item:nth-child(7){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(8){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(9){
        grid-row-start: span 1;
        grid-column-start: span 4;
        height: auto;
        text-align:center ;
    }
    .gallery__item:nth-child(13){
        grid-row-start: span 1;
        grid-column-start: span 1;
        height: 200px;
    }
    .gallery__item:nth-child(14){
        grid-row-start: span 1;
        grid-column-start: span 4;
        height: 715px;
        text-align: center;
    }
    .gallery__item:nth-child(15){
        grid-row-start: span 1;
        grid-column-start: span 4;
        height: 50px;
        text-align: center;
    }
    .gallery__item:nth-child(16){
        grid-row-start: span 1;
        grid-column-start: span 4;
        height: 10px;
    
    }
    .gallery__item:nth-child(18){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(19){
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(20){
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(21){
        grid-row-start: span 1;
        grid-column-start: span 4;
    }
    .gallery__item:nth-child(22){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(23){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(24){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
}
/*boton*/
.button {
    background-color: #EE2B25; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24),0 17px 50px 0 rgba(255,0,0,0.19);
    display: right;
  }  