.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
  grid-template-areas: "titulo titulo titulo titulo" "centro centro centro centro" "footer footer footer footer";
}

.titulo { grid-area: titulo;
background-color: #2F293F; }



.centro {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". dos .";
  grid-area: centro;
  background-color: #EE3F3A;

}
.dos { grid-area: dos;

}
#der{
float: right;
max-width: 600px;
padding: 40px;
}
#izq{
  float: left;
  max-width: 600px;
  padding: 40px;
}

.footer { grid-area: footer;
  background-color: #2F293F;
 }
