
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;

  grid-template-areas: "titulo titulo titulo titulo"  "blanco blanco blanco blanco"  "centro centro centro centro" "footer footer footer footer";
}

.titulo { grid-area: titulo;
background-color: #2F293F; }

h1{
  color: #FFFFFF;
}

.blanco{ display: grid;
  grid-area: blanco;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;
  grid-template-areas: ". circulos ." ;
  background-color: #E3E3E3;
}

.circulos { grid-area: circulos; 
text-align: center;
padding: 100px;
}

.centro {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;
  grid-template-areas: ". dos .";
  grid-area: centro;
  background-color: #EE3F3A;
 

}
.dos { grid-area: dos;

}
#der{
float: right;
max-width: 600px;
padding-left: 40px;
padding-top:10px ;
min-height: 400px;
}
#der2{
  float: left;
  max-width: 600px;
  padding-left: 100px;
  padding-top:20px ;
}
#izq{
  float: left;
  max-width: 600px;
  padding: 40px;
}


.footer { grid-area: footer;
  background-color: #2F293F;
  min-height: 100px;
  column-gap: none;
  row-gap: none;
 }
