
body{
  margin: 1px;
  background-image: url(../imagenes/fondo2.png);
  background-repeat: repeat;
  

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;
  


  grid-template-areas: "titulo titulo titulo titulo"  "blanco blanco blanco blanco"  "centro centro centro centro" "footer footer footer footer";
}

.titulo { grid-area: titulo;
background-color: #3A3247; 
}


#ti{
  color: #FFFFFF;
  text-align: center;
  font-size: 60pt;
}
.blanco{ display: grid;
  grid-area: blanco;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;
  grid-template-areas: ". circulos ." ;

  /*background-color: #E3E3E3;*/
}

.circulos { grid-area: circulos; 
text-align: center;
padding: 100px;
}

.centro {
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: min-max(100px, auto);
  column-gap: none;
  row-gap: none;
  grid-template-areas: ". dos .";
  grid-area: centro;
  background-color: #EE3F3A;
  opacity: 0.95;
  
 

}
.dos { grid-area: dos;
 
}
#der{
float: right;
max-width: 600px;
padding-left: 40px;
padding-top:10px ;
min-height: 190px;
}
#der2{
  float: left;
  max-width: 600px;
  padding-left: 130px;
  padding-top:40px ;
}
#der3{
  float: right;
  max-width: 600px;
  padding-left: 100px;
  padding-top:4px ;
  min-height: 200px;
  margin-right: 100px;
  }
#izq{
  float: left;
  max-width: 400px;
  padding: 40px;
}


.footer { grid-area: footer;
  background-color: #2F293F;
  min-height: 100px;
  column-gap: none;
  row-gap: none;
  display: inline;
 }
 .responsive {
  width: 100%;
  height: auto;
}
.responsive1 {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.responsive2 {
  display: inline-flex;
  width: 17%;
  padding: 13px;
  height: auto;
}

.button {
  background-color: #C4C4C4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#button1 {
  background-color: #EE3F3A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: right;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-content: bottom;
}

#foot{
  color: #FFFFFF;
  column-count: 2;
  text-align: center;
  display: list-item;
}
#foot1{
  color: #EE2B25;
  column-count: 2;
  text-align: center;
  display: list-item;
}
.foo{
 
  display: inline;
}
a{
  font-family: arial;
}
/*movil
400x738
pantalla
981x722

1200 o 1400px*/